<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.junyeoljo" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Day2_JJY"
            android:label="@string/title_activity_day2__jjy" >
        </activity>
        <activity
            android:name=".Day3_JJY"
            android:label="@string/title_activity_day3__jjy" >
        </activity>
        <activity
            android:name=".Day4_JJY"
            android:label="@string/title_activity_day4__jjy" >
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name=".Day4_subActivity"
            android:label="@string/title_activity_day4_sub" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Day5_JJY"
            android:label="@string/title_activity_day5__jjy" >
        </activity>
        <activity
            android:name=".Day6_JJY"
            android:label="@string/title_activity_day6__jjy" >
        </activity>
        <activity
            android:name=".PersonPage"
            android:label="@string/title_activity_person_page" >
        </activity>
        <activity
            android:name=".Day5_viewPage"
            android:label="@string/title_activity_day5_view_page" >
        </activity>
    </application>

</manifest>
